/* Color Scheme
- Black: #252525
- Purple: #6930C3
- Teal : #64DFDF
- Yellow: #FFD523
- lightGrey: #B2B2B2; */

@import 'variables.scss';
@import 'font.scss';

/*  
font-family: 'Press Start 2P', cursive; 
 */

/* Global Style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $colorBlack;
    font-family: 'Press Start 2P', cursive;
}

h1, h2, h4 {
    color: $colorPurple;
}

h2{
    color: $colorLightGray;
    font-size: 1.1rem;
}

h3, p, label{
    color: $colorLightGray;
    margin-bottom: 1rem;
}
h4{
    font-size: 1.1rem;
}
button{
    background-color: rgba(0, 0, 0, 0);
}

section{
    width: 400px;
}

/* Header Style */

header{
    text-align: center;
    padding: 1rem;
    margin-bottom: 3rem;
}

/* Main Style */

main{
    display: flex;
    justify-content: center;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        align-items: center;
        fieldset{
            width: 400px;
            height: 150px;
            padding-top: 1.5rem;
            text-align: center;
        }
    }
}

/* Round Selection & After Input */

#roundsSelection{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    justify-items: center;
    div{
        width: 60px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
}

#roundsCounter{
    display: none;
    p{
        text-align: center;
        margin-top: 2rem;
    }
}

/* Result section */

#result{
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}

/* Section Player Input */
#playerInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#resultText{
    height: 100px;
    text-align: center;
}

.btnRockPaperScissor{
    border: none;
    margin: 1rem;
    border: 1px solid $colorLightGray;
    border-radius: 50%;
    img{
        width: 70px;
        height: 70px;
        padding: 10px;
    }
    &:hover{
        cursor: pointer;
    }
}

.win{
    border: 1px solid green;
}

.lose{
    border: 1px solid red;
}

#restartSection{
    display: none;
    flex-direction: column;
    justify-content: center;
    height: 217px;
    text-align: center;
}

/* Restart Button */
#restart{
    font-family: 'Press Start 2P', cursive;
    color: $colorYellow;
    border: none;
    text-decoration: underline;
    padding: 0.5rem;
    &:hover{
        cursor: pointer;
    }
}

/* Media Querie for mobile devices */

@import 'mediaQueries.scss';
